{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<section class="container list">
  <header>
    <h1 class="title">{{ .Title }}</h1>
  </header>
  {{ $posts := where .Site.RegularPages "Type" "posts" }}
  {{ $year := "" }}
  {{ range $posts.ByDate.Reverse }}
    {{ $y := .Date.Format "2006" }}
    {{ if ne $y $year }}
      {{ $year = $y }}
      <h2>{{ $y }}</h2>
    {{ end }}
    <div style="margin-bottom:0.3rem">
      <span class="date">{{ .Date.Format "Jan 2" }}</span>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
  {{ end }}
</section>
{{ end }}
